.card,
.add-recipe {
  text-align: center;
  margin: 10px;
  width: calc(20% - 20px);
  margin-top: 50px;
}

.content-card {
  display: flex;
}

.recipes {
  padding-top: 30px;
}
.recipes-h3 {
  font-size: 1.3em;
  padding: 20px 0 20px 0;
  text-align: center;
  position: relative;
}

.recipe-img-home {
  overflow: hidden;
  object-fit: cover;
  height: 220px;
  width: 200px;
  height: 230px;
  margin: 0 auto;
}

.content-recipe-img {
  width: 200px;
  height: 230px;
  margin: 0 auto;}

.btn-card {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

.btn-edit {
  color: black;
  padding: 5px;
  border: 2px solid #868484;
  border-radius: 5px;
  display: inline-block;
  width: 100px;
}

.btn-delete {
  color: black;
  padding: 5px;
  border: 2px solid #eb5757;
  border-radius: 5px;
  display: inline-block;
  width: 100px;
}

.add-recipe {
  border: black 2px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 280px;
  
}
.card {
   border: black 2px solid;
  border-radius: 10px;   
  width: 250px;
  
}