header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 70px;
  display: flex;
  justify-content: center;
  background-color: #ff7f50;
}

.evlow-navbar,
.evlow-foodies,
.deconnexion-navbar {
  border: none;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  background-color: #ff7f50;
}

.evlow-foodies,
img {
  height: 30px;
}
.deconnexion-navbar,
img {
  height: 30px;
}

.deconnexion-navbar {
  border: solid 1px white;
  border-radius: 20px;
}

.ul-header {
  display: flex;
}
