.content-add-recipe {
  justify-content: center;
  margin-top: 80px;
}

.content-add-recipe-title {
  justify-content: center;
  text-align: center;
}
.article-add-recipe {
  display: flex;
  justify-content: flex-start;
}

.ingredients,
.preparations {
  display: flex;
  align-items: center;
  font-size: 1.8em;
}

.title-preparation,
.title-ingredient {
  padding-left: 20px;
}

.image-recipe {
  margin-bottom: 30px;
  border: 2px dashed #ff7f50;
  padding: 20px 10px;
  margin: 5px 0 40px 0;
}
.recipe-input-row .image-preview img {
  height: 100px;
  margin-bottom: 50px;
}


.recipe-input-row.input-title{
  text-align: center;
}
