.card {
  text-align: center;
  margin: 10px;
  border: black 2px solid;
  border-radius: 10px;
}

.add-recipe {
  text-align: center;
  border: black 2px solid;
  border-radius: 10px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipes {
  padding-top: 30px;
  margin: 100px 20px 20px;
}

.recipes-h3 {
  font-size: 1.3em;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

.recipe-img-home,
.content-recipe-img {
  overflow: hidden;
  object-fit: cover;
  height: 220px;
  width: 200px;
  margin: 0 auto;
}

.btn-card {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

.btn-edit,
.btn-delete {
  color: black;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  width: 100px;
}

.btn-edit {
  border: 2px solid #868484;
}

.btn-delete {
  border: 2px solid #eb5757;
}
