.banner {
    position: relative;
    height: 550px;  
    
}

.banner img {
    width: 100%;
    object-fit: cover;
    height: 550px;  
}

.banner h2 {
    position: absolute;
    top : 50px;
    width: 100%;
    left :0;
    padding-right: 50px;
    font-size: 3.5em;
    padding-left: 50px;

}

