.h3-recipe-sheet {
    font-size: 2em;
    text-align: center;
}

.content-recipe-img-front{
width:800px;
height: 300px;
border-radius: 20px;
overflow: hidden;
}

.recipe-img-front{
  object-fit: cover;
}






