
.nav {
  justify-content: center;
height: 80px;
  display: flex;
  align-items: center;

}

.navbar {
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  font-size: 0,9em;
}


.item-button {
  display: flex;
  align-items: center;
  height: 50px;
}

.item-button a {
  color: black;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  display: flex;
}

.inscription {
  border-radius: 15px;
  border: 1px solid #ff7f50;
  margin-right: 10px;

}

.connexion {
  border-radius: 15px;
  background-color: #ff7f50;
}

