.nav {
  justify-content: center;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar {
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
}

.item-button {
  display: flex;
  align-items: center;
}

.item-button a {
  font-size: 1.5em;
  color: black;
  justify-content: center;
  padding: 5px 10px; 
  display: flex;
}

.inscription-button,
.connexion-button {
  border-radius: 10px;
  border: none;
  font-size: 0.9em;
  padding: 3px 10px;
}

.connexion-button {
  background-color: #ff7f50;
}
.inscription-button {
  background-color: white;
  border: solid 2px #ff7f50;
}