.nav {
  justify-content: center;
  height: 80px;
  display: flex;
  align-items: center;
  margin: 100px 0 100px 0;
}

.navbar {
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
}

.item-button {
  display: flex;
  align-items: center;
}

.item-button a {
  font-size: 1.8em;
  color: black;
  justify-content: center;
  padding: 7px 15px; 
  display: flex;
}

.inscription-button,
.connexion-button {
  border-radius: 10px;
  border: none;
  font-size: 1em;
  padding: 3px 5px;
  display: flex; 
  align-items: center;
}

.connexion-button {
  background-color: #ff7f50;
}
.inscription-button {
  background-color: white;
  border: solid 2px #ff7f50;
  
}


.inscription-button img,
.connexion-button img {
height: 25px;
}

/* Set a specific width for list items */
.navbar li {
  width: 220px; /* Adjust the width as needed */
  text-align: center; /* Center the text within the list item */
  justify-content: space-around;
}